web/WEB-INF/xsd/giaybq-list-products.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ul">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="li" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="div" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="h2">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="a">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="class" type="xs:string" use="required" />
                                                                    <xs:attribute name="href" type="xs:string" use="required" />
                                                                    <xs:attribute name="title" type="xs:string" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="class" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="div">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                    <xs:element name="span">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="span">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="class" type="xs:string" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="class" type="xs:string" use="required" />
                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="class" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="a">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="span">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="class" type="xs:string" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="img">
                                                        <xs:complexType>
                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                            <xs:attribute name="src" type="xs:string" use="required" />
                                                            <xs:attribute name="alt" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="href" type="xs:string" use="required" />
                                                <xs:attribute name="title" type="xs:string" use="optional" />
                                                <xs:attribute name="class" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="span">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="class" type="xs:string" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="class" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="class" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>